
# 위치 : /etc/systemd/system/comiety.service
[Unit]
Description=comiety uWSGI
After=network.target

[Service]
Restart=always
RestartSec=3
Type=idle
ExecStart=/bin/sh /home/ubuntu/gitComiety/comiety/prod_run.sh

[Install]
WantedBy=multi-user.target
