<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../static/dongzip/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://npmcdn.com/flickity@2/dist/flickity.css">
        <script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            .container-fluid h3{
                padding-left: 30px;
                font-size: 30px;
            }

            .col-md-2 .img-circle{
                height: 150px;
                width: 150px;
            }
        </style>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <h3 class="footertext"><strong>About Us</strong></h3>
                <br>
                <div class="col-md-2">
                    <center>
                        <img src="../../static/dongzip/images/chess.jpg" class="img-circle" alt="TeamComiety">
                        <br>
                        <h4 class="footertext">Team Comiety</h4>
                    </center>
                </div>
                <div class="col-md-2">
                    <center>
                        <img src="../../static/dongzip/images/jungwook.jpg" class="img-circle" alt="Jung Wook Park">
                        <br>
                        <h4 class="footertext">박정욱</h4>
                        <p class="footertext">간단한 소개</p>
                    </center>
                </div>
                <div class="col-md-2">
                    <center>
                        <img src="../../static/dongzip/images/mingi.jpg" class="img-circle" alt="Min Gi Jin">
                        <br>
                        <h4 class="footertext">진민기</h4>
                        <p class="footertext">간단한 소개</p>
                    </center>
                </div>
                <div class="col-md-2">
                    <center>
                        <img src="../../static/dongzip/images/namhee.jpg" class="img-circle" alt="Nam Hee Kim">
                        <br>
                        <h4 class="footertext">김남희</h4>
                        <p class="footertext">간단한 소개</p>
                    </center>
                </div>
                <div class="col-md-2">
                    <center>
                        <img src="../../static/dongzip/images/daeun.jpg" class="img-circle" alt="DaEun Baik">
                        <br>
                        <h4 class="footertext">백다은</h4>
                        <p class="footertext">간단한 소개</p>
                    </center>
                </div>
                <div class="col-md-2">
                    <center>
                        <img src="../../static/dongzip/images/gaeun.jpg" class="img-circle" alt="Ga Eun Yang">
                        <br>
                        <h4 class="footertext">양가은</h4>
                        <p class="footertext">간단한 소개</p>
                    </center>
                </div>
            </div>
        </div>
    </body>
</html>