{% extends "dongzip/layout.html" %}

    {% block extra_style %}

    .page-Home{
        position: relative;
        z-index: 0;
        background-image: url("../../static/dongzip/images/balloons.jpg");
        background-repeat: no-repeat;
        padding-top: 100px;
        padding-bottom: 150px;
        box-sizing: border-box;
        color: white;
        text-shadow: 0 1px 6px rgba(51, 51, 51, 0.2);
        margin-top:20px;
        margin: .67em 0;
        font-family: sans-serif;
        text-align: center;
    }

    .page-Home h1{
        font-size: 42px;
        font-family: sans-serif;
        font-weight: 700;
        line-height: 54px;
        display: block;
        -webkit-margin-before: 0.67em;
        -webkit-margin-after: 0.67em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }

    .page-Home p{
        font-size: 20px;
        font-family: sans-serif;
    }

    .badge{
        width: autoo;
        height: 40px;
        font-size: 30px;
        background-color: gray;
        color: rgb(51, 204, 204);
    }

    .badge_a {
        color: white;
    }

    .badge_a:hover {
        color: white;
        text-decoration: none;
    }



    .show-event{
        height: 370px;
        box-sizing: border-box;
        background-color: rgb(241, 240, 240);
    }

    .show-event h3{
        padding-top: 40px;
        padding-left: 20px;
        text-align: left;
        color: black;
        font-size: 30px;
    }

    .carousel {
      width: 100%;
    }

    .carousel .thumbnail{
        background-color: transparent;
        padding-top: 30px;
    }

    .container-fluid .clubdic{
        padding-bottom: 200px;
    }

    .container-fluid h2{
        padding-top: 50px;
        padding-bottom: 30px;
        color: black;
        text-align: center;
        font-size: 42px;
    }

    .thumbnail{
        width: 295px;
        height: 230px;
        border: 0;
        -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
        font-size: 20px;
        text-align: center;
    }

    .thumbnail img{
        width: 100%;
        height: 180px!important;
    }

    {% endblock %}


    {% block content %}
        <div class="page-Home">
                <h1><strong>무엇을 좋아하시나요?</strong></h1>
                <a href = "{% url 'dongzip:school_list' %}" class="badge_a">
                <p><strong><span class="badge" id="school_badge">{{school_cnt}}</span></strong> 학교</a>
                <a href = "{% url 'dongzip:society_search' 'all' %}" class="badge_a">
                <span class="badge" id="society_badge">{{society_cnt}}</span> 동아리 </a>
                <span class="badge" id="event_badge">{{event_cnt}}</span> 교류전이 오가는</strong></p>
                <p><strong>교류의 장, 동집에 오신 것을 환영합니다!</strong></p>
        </div>

        <div class="show-event">
            <h3><strong>예정된 행사</strong></h3>
            <div class="carousel" data-flickity='{ "initialIndex": 1 }' data-flickity='{"wrapAround"=true}' contain>
                <div class="carousel-image">
                    <div class="thumbnail">
                        <a href="event.html" target="_blank">
                            <img src="../../static/dongzip/images/frogphoto.jpg" alt="Event1">
                            <div class="caption">
                                <p>Event1</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="carousel-image">
                    <div class="thumbnail">
                        <a href="event.html" target="_blank">
                            <img src="../../static/dongzip/images/frog2.jpg" alt="Event2">
                            <div class="caption">
                                <p>Event2</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="carousel-image">
                    <div class="thumbnail">
                        <a href="event.html" target="_blank">
                            <img src="../../static/dongzip/images/frog4.jpg" alt="Event3">
                            <div class="caption">
                                <p>Event3</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="carousel-image">
                    <div class="thumbnail">
                        <a href="event.html" target="_blank">
                            <img src="../../static/dongzip/images/kermit1.jpg" alt="Event4">
                            <div class="caption">
                                <p>Event4</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="carousel-image">
                    <div class="thumbnail">
                        <a href="event.html" target="_blank">
                            <img src="../../static/dongzip/images/kermit2.jpg" alt="Event5">
                            <div class="caption">
                                <p>Event5</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid">
            <div class="clubdic">
                <h2><strong>동아리 탐구 사전</strong></h2>
                {% load staticfiles %}
                {% for category in category_list %}
                  <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="thumbnail col1">
                      <a href="{% url 'dongzip:society_search' category.url_name %}" target="_self">
                      {% with 'dongzip/images/'|add:category.url_name|add:'.jpg' as image_static %}
                        <img src="{% static image_static %}" alt= {{ category.url_name }}>
                      {% endwith %}

                        <div class="caption">
                          <p><strong>{{ category.name }}</strong></p>
                        </div>
                      </a>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    </body>

<script type="text/javascript">
$(function poll(){
    $.ajax({
        url: "{% url 'dongzip:ajax_counter' %}" , // 요청 url
        success: function(data){
            //update index_dashboard
             $('#school_badge').text(data.school_cnt);
             $('#society_badge').text(data.society_cnt);
             $('#event_badge').text(data.event_cnt);
        }, // 요청이 성공했을 경우
        error: function(data){
            console.log('error');
        }, // 에러가 날 경우
        dataType: "json",
        timeout: 2500, // 응답 대기 제한 시간
        complete: poll, // 요청이 완료된 후 실행 할 아이
    });
});

// 문제가 있다. 처음에 4로 설정된 후 다시 카운팅 하는 듯
$('.badge').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text() }, {
            duration: 4000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });
</script>

</html>
    {% endblock %}
