<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% load staticfiles %}

        <link rel="stylesheet" href="{% static 'dongzip/css/layout.css' %}">
        <link rel="stylesheet" href="{% static 'dongzip/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="//npmcdn.com/flickity@2/dist/flickity.css">
        <script src="//npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
        <script src="{% static 'dongzip/js/jquery-3.1.1.js' %}"></script>
        <script src="{% static 'dongzip/js/bootstrap.min.js' %}"></script>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
        {% block extra_links %}

        {% endblock %}

        <style>
        {% block extra_style %}
        {% endblock %}
        </style>

        <!--href의 base url 설정(최상위 링크) href=''-->
        <base href="//127.0.0.1:8000/dongzip/" />

    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="" title="Comiety"></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'dongzip:school_list' %}">학교 목록</a></li>
                    <li><a href="{% url 'dongzip:society_regist' %}">동아리 등록</a></li>
                    <li><a href="{% url 'dongzip:aboutus' %}">우리들</a></li>
                    <li><a href="{% url 'dongzip:event_list' %}">행사 목록</a></li>
                    <!-- <li><a href="#myprofile.html">내 페이지</a></li> -->
                    <!-- <li><a href="#notification.html">알림</a></li> -->

                    {% if not user.is_authenticated %}
                        <li>
                            <a href="{% url 'accounts:login' %}?next={{  request.path }}">
                            <span class="glyphicon glyphicon-log-in"></span> 로그인</a>
                        </li>
                        <li id="join">
                            <span class="glyphicon glyphicon-user"></span>
                            <input type="button" value="가입하기" id="buttonjoin" onclick="location.href='{% url "accounts:member_regist" %}'">
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'accounts:my_profile' %}">{{ user }}'s 프로필</a>
                        </li>
                        <li>
                            <a href="{% url 'accounts:logout' %}">로그아웃</a>
                        </li>
                    {% endif %}
                </ul>
                </div>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        <footer class="footer-bs">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 footer-brand animated fadeInLeft">
                    <h2>DONGZIP</h2>
                    <p>다양한 사람들과 더 많은 교류를 할 수 있는 만남의 장, 동집입니다! 동아리 검색을 통해서 같은 관심사를 가진 다른 동아리들을 만날 수 있다면 어떨까요? 각 동아리별 행사 일정을 참고해서 다채로운 활동을 즐기면 어떨까요? 이러한 고민을 현실화하기 위해서 만든 사이트입니다.</p>
                    <p>&copy;2017 COMIETY, All rights reserved</p>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12 footer-nav animated fadeInUp">
                    <h4>Menu —</h4>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <ul class="pages">
                            <li><a href="societylist.html">동아리</a></li>
                            <li><a href="societyregist.html">동아리 등록</a></li>
                            <li><a href="schoollist.html">학교로 검색</a></li>
                            <li><a href="myprofile.html">내 페이지</a></li>
                            <li><a href="notification.html">알림</a></li>
                            <li><a href="login.html">로그인</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <ul class="list">
                            <li><a href="aboutus.html">About Us</a></li>
                            <li><a href="contacts.html">Contacts</a></li>
                            <li><a href="terms.html">Terms & Condition</a></li>
                            <li><a href="privacy.html">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>
