{% extends "dongzip/layout.html" %}

{% load staticfiles %}

{% block extra_links %}

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script>
    function initMap() {
        var $map = $('#map');

        var styles = [
            {
              stylers: [
                { hue: "blue" },
                { saturation: -10 }
              ]
            },{
              featureType: "road",
              elementType: "geometry",
              stylers: [
                { lightness: 100 },
                { visibility: "simplified" }
              ]
            },{
              featureType: "road",
              elementType: "labels",
              stylers: [
                { visibility: "off" }
              ]
            }
          ];

          // Create a new StyledMapType object, passing it the array of styles,
          // as well as the name to be displayed on the map type control.
          var styledMap = new google.maps.StyledMapType(styles,
            {name: "Styled Map"});


        if ( $map.size() > 0 ) {
            var lat = $map.data('lat');
            var lng = $map.data('lng');

            var myLatLng = {'lat' : lat, 'lng': lng };

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 5,
                center: new google.maps.LatLng(35.95, 128.25),
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Hello World!'
            });

            map.mapTypes.set('map_style', styledMap);
            map.setMapTypeId('map_style');
        }
    }
    </script>

 <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5uVKd7QhjF4jVkcQs21LVSTJ-nCpZxMs&callback=initMap"></script>
{% endblock %}


{% block extra_style %}
/*===============================up button(위로올라가기)======
==========================*/

    .top{
        position: fixed;
        bottom:20px;
        right:30px;
        background: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronUpCircle-48.png) no-repeat;
        width: 48px;
        height:48px;
    }

    .page-Home{
        position: relative;
        z-index: 0;
        background-repeat: repeat;
        box-sizing: border-box;
        color: white;
        text-shadow: 0 1px 6px rgba(51, 51, 51, 0.2);
        margin-top:20px;
        margin: .67em 0;
        font-family: sans-serif;
        text-align: center;
    }

    .page-Home table{
        width: 100%;
        height: 250px;
        margin-right: auto;
        margin-left: auto;
        background-color: rgba(3, 100, 250, 0.05);
        color: black;
        font-size: 50px;
    }

    td{
        text-align: left;
    }

    .img-rounded {
        width: 200px;
        height: 200px;
    }


    .search{
        position: relative;
        margin-top: -10px;
        margin-left: auto;
        margin-right: auto;
        height: 75px;
        width: 700px;
        background-color: rgb(3, 65, 200);
        border-radius: 5px;
        padding: 15px;
        box-shadow: 3px 3px 3px grey;

    }

    #insert_society{
        text-align:center;
    }

    .keywordselect{
        height:45px;
        width:550px;
        border-radius: 5px;
        border: 1px solid lightgray;
    }

    #submit{
        height:45px;
        width:80px;
        border-radius:4px;
        border: none;
        background-color: rgb(10, 61, 150);
        box-shadow: 1px 1px 1px lightgray;
    }

    .locationselect, .distanceselect {
        background-color: black;
        color: white;
        font-size: 18px;
        margin-left: 20px;
        border: 1px solid black;
    }

    .locationselect{
        margin-left: 0px;
    }

    #modegroup{
        margin-left: 150px;
        background-color: gray;
        color: white;
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        border: 1px solid gray;
        box-shadow: inset 1px 1px 1px;
    }

    #modecalender{
        background-color: black;
        color: white;
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        border: 1px solid gray;
        border-left: none;
    }

    .info_container {
        display: block;
        padding: 20px;
    }

    .school_detail_info {
        display: inline-block;
        background-color: rgba(10, 61, 150, 1);
        border-radius: 7px;
        padding: 10px;
        margin-bottom: 50px;
        color: white;
        box-shadow: 3px 3px 3px grey;
    }

    #map {
        width: 100%;
        height: 200px;
        background-color: blue;
    }

    .society_block{
        display: inline-block;
    }

    .list_block {
        text-align: center;
        border: 1px solid lightgray;
        border-radius: 5px;
        padding-top: 10px;
    }

    .society_block {
        display: inline-block;
        margin-left: 1%;
        margin-right: 1%;
        width: 22%;
        height: auto;
        margin-bottom: 30px;
        border: 1px solid lightgray;
        border-radius: 5px;
        box-shadow: 5px 5px 5px grey;
    }

    .society_logo {
        width: 100%;
        height: 220px;
    }

    .society_caption {
        margin-top: -20%;
        font-size: 1.5rem;
        padding-top: 5%;
        padding-bottom: 3%;
        background-color: rgba(0,0,0,0.7);
        color: white;
        position: relative;
    }

    @media screen and (max-width: 480px) {
        .society_logo {
            height: 100px;
        }

        .society_caption {
            font-size: 1rem;
        }
    }

    @media screen and (min-width: 481px) and (max-width: 767px) {
        .society_logo {
            height: 150px;
        }
    }

    @media screen and (min-width: 768px) {
    }


{% endblock %}


{% block content %}


    <div class="top" />
        {# <img src="test.png" alt="scroll" width="100" height="100"> #}
    </div>

    <div class="page-Home">
        <table class="school_info">
            <tr>
                <td style="padding-left:50px;">
                    {% with 'dongzip/images/univ_logo/'|add:school.name|add:'.jpg' as image_static %}
                        <img src="{% static image_static %}" alt= "{{ school.name }}" class="img-rounded">
                    {% endwith %}
                </td>
                <td>
                    <div class="school_name">
                        <strong> {{ school }} </strong>
                    </div>
                </td>

                <td style="width: 100px;"></td>
            </tr>
        </table>
    </div>

    <div class="search">
        <form action="" method="get">
        <div id="insert_society">
            <input type="text" size="100" name="keyword" value= '{{ keyword }}' placeholder="연관 검색어" class="keywordselect" id="search_soc">

            <input style="font-size:20px; margin-left:20px;" type="submit" value="검색" id="submit" class="keywordselect btn-primary">
        </form>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 style="padding-left:30px; padding-top:25px;">
            {% if keyword != '' %}
                {{ keyword }} 검색 결과입니다.
            {% endif %}
        </h3>
    </div>

    <div class="container-fluid info_container" align=center>
        <div class="school_detail_info col-md-3 col-sm-3 col-xs-3" >
            <h5> < {{ school }} 정보 > </h5>
            <p>동아리 개수: {{ society_number }}</p>
            <div id="map" data-lat="{{ school_point.lat }}" data-lng="{{ school_point.lng }}"></div>
        </div>
        <div class="list_block col-md-9 col-sm-9 col-xs-9">
            {% for society in society_list %}
                <div class="society_block">
                    <a href="{% url 'dongzip:society_detail' society.id %}" target="_blank">

                        <img src="{% static 'dongzip/images/volunteer.jpg' %}" alt="Volunteer" class="society_logo">

                    <div class="society_caption">
                        <p><strong>{{ society.name }}</strong></p>
                    </div>
                    </a>
                </div>
            {% endfor %}



        </div>

    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(function(){
    $('#search_soc').autocomplete({
        source:'/dongzip/school_list/'+{{ school.id }}+'/ajax_search/',
        focus: function( event, ui ) { val( ui.item.label );return false;}
    });
});

    $(document).ready(function(){
        var $body = $(document.body), //자주 사용하기에 캐시되게 변수에 넣어준다
            $top = '';

        $top=$('<div>') //div 를 만들고
                .addClass('top') //top className을 주고
                .hide() //처음에는 숨겨둔다
                .click(function(){  // 클릭이 이벤트 할당
                    $body.animate({ scrollTop: 0 }); //animation효과로 scollTop=0으로 이동
                })
                .appendTo($body); // body에 top을 넣는다
        //윈도우의 스크롤위치로 위로가기 버튼을 보여줘야기에 핸들러 작성
        $(window).scroll(function(){
            var y = $(this).scrollTop();
            if(y >= 0){
                $top.fadeIn();
            }
            else {
                $top.fadeOut();
            }
        });
});
    </script>
    {% endblock %}
