{% extends "dongzip/layout.html" %}

{% load staticfiles %}

{% block extra_style %}
    body{
        background-color: ghostwhite;
        overflow-x: hidden;
    }

    .container{
        width: 80%;
        height: 100%;
    }

    .soc_title{
        width: 100%;
        height: 300px;
        background-image: url("{% static 'dongzip/images/academics.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .soc_title_bck{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.2);
    }

    .soc_title #soc_join{
        position: relative;
        top: 20px;
        left: 30px;
        width: 140px;
        height: 40px;
        text-align: center;
        font-size: 18px;
    }


    .soc_title h1{
        color: white;
        font-size: 70px;
        text-align: right;
        margin-top: 170px;
        margin-right: 5px;
    }

    .soc_main{
        width: 100%;
        display: flex;

    }

    .soc_left{
        margin-top: 20px;
        background-color: white;
        width: 24%;
        padding: 5px;
        border: 1px solid lightgray;
    }

    .soc_left_logo{
        width: 100%;
        height: 220px;
    }

    .soc_left #logo{
        width: 90%;
        height: 90%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #userphoto{
        width: 30px;
        height: 30px;
    }

    .soc_left tr{
        border: 1px dotted gray;
        border-left: none;
        border-right: none;
    }

    #soc_left_tr1, #soc_left_tr2{
        height: 50px;
    }

    #soc_interest{
        height: 30px;
        width: 100%;
        text-align: center;
    }

    #soc_interest a{
        font-size: 18px;
        text-decoration: none;
    }

    #soc_interest a:hover{
        font-weight: bold;
        cursor: pointer;
    }

    #td1{
        width: 30%;
    }

    #left_tr3_td2{
        height: 150px;
        overflow-y: scroll;
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
    }

    #left_tr3_td2 img{
        margin-bottom: 3px;
    }


    .soc_right{
        box-sizing: border-box;
        margin-top: 20px;
        background-color: white;
        height: 530px;
        width: 74%;
        margin-left: 2%;
        border: 1px solid lightgray;
    }

    .history{
        margin: 20px;
    }

    .timeline{
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        overflow-x: auto;
        padding-bottom: 35px;
        padding-top: 25px;
    }

    .li{
        transition: all 200ms ease-in
    }

    .timestamp{
        margin-bottom: 20px;
        padding: 0px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 100;
    }

    .status{
        display: flex;
        justify-content: center;
        border-top: 2px solid steelblue;
        position: relative;
        transition: all 200ms ease-in;
    }

    .status h5{
        font-weight: 600;
    }

    .status:before{
        content: '';
        width: 25px;
        height: 25px;
        background-color: steelblue;
        border-radius: 25px;
        position: absolute;
        top: -15px;
        left: 42%;
        transition: all 200ms ease-in;
    }

    hr{
        margin-top: 40px;
    }

    .soc_desc{
        margin: 20px;
        margin-top: 30px;
        height: 45%;
    }

    .soc_desc_txt{
        margin: 10px;
        font-size: 15px;
    }

    .soc_event{
        width: 100%;
        background-color: white;
        margin-top: 20px;
        border: 1px solid lightgray;
        margin-bottom: 30px;
        text-align: center;
    }

    .soc_event h4{
        margin-top: 20px;
    }

    .soc_event table{
        margin-top: 10px;
        width: 100%;
    }

    #se_td1{
        width: 20%;
    }

    #se_td2{
        width: 20%;
    }

    #se_td3{
        width: 40%;
    }

    #se_td4{
        width: 20%;
    }

    .btn{
        width: 100px;
        height: 30px;
    }

    .soc_event td{
        padding: 5px;
    }

    .soc_event tr{
        border: 1px dotted lightgray;
        margin: 10px;
    }

@media (max-width: 1000px){
    .container{ width: 100%}
}

@media (min-width: 1000px) and (max-width: 1100px){
    .soc_left #logo{ height: 170px}
}

@media (min-width: 800px) and (max-width: 900px) {
    .soc_left #logo { height: 170px}
    .soc_left_logo {height: 200px}
    .soc_right {height: 500px}
}

@media (min-width: 700px) and (max-width: 800px) {
    .soc_left_logo {height: 180px}
    .soc_left #logo {height: 150px}
    .soc_right {height: 480px}
}

@media (min-width: 600px) and (max-width: 700px) {
    .soc_left_logo {height: 160px}
    .soc_left #logo {height: 130px}
    .soc_right {height: 460px}
}

@media (max-width: 600px) {
    .soc_left_logo {height: 130px}
    .soc_left #logo {height: 100px}
    .soc_right {height: 430px}
}

@media (max-width: 939px) {
    #td1 {font-size: 12px}
}

@media (max-width: 817px) {
    #td1{ width: 40%}
}

@media (max-width: 635px){
    #td1 {width: 25%}
}
@media (max-width: 560px) {
    #userphoto { height: 20px; width: 20px}
    #td1 {width: 30%}
}






{% endblock %}

{% block content %}
    <div class="container">
        <div class="soc_title">
            <div class="soc_title_bck">
                <a href="{% url 'dongzip:society_apply' society.id %}"><input type="button" id="soc_join" class="btn btn-danger" value="가입 요청하기" onclick="alert('가입 신청 완료!')"></a>
                <h1><strong>{{ society }}</strong></h1>
            </div>
        </div>

        <div class="soc_main">

            <div class="soc_left" align="center">
                <div class="soc_left_logo">
                    <img src="{% static 'dongzip/images/event4.jpg' %}" id="logo">
                </div>
                <table>
                    <tr id="soc_interest">
                        <td colspan="2">
                        {% if request.user.is_anonymous %}
                            <a id = 'anonymous_favorite' href="{% url 'accounts:login' %}" style='color:gray'>
                        {% endif %}
                        {% with request.user.profile.favorite_society.all as fa_soc %}
                            {% if society in fa_soc %}
                                <a id = 'favorite' style='color:yellow'>
                            {% else %}
                               <a id = 'favorite' style='color:gray'>
                            {% endif %}
                        {% endwith %}
                        <span class="glyphicon glyphicon-star"></span>즐겨찾기</a></td>
                    </tr>
                    <tr id="soc_left_tr1">
                        <td id="td1"><strong>그룹장:</strong></td>

                        {% for user in society.membership_set.all %}
                        {% if user.power == 2 %}
                            <td><img src="{{ user.profile_image.url }}" id="userphoto">{{ user.user }}</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    <tr id="soc_left_tr2">
                        <td id="td1"><strong>참여인원:</strong></td>
                        <td> {{society.users.count }}명</td>
                    </tr>
                    <tr id="soc_left_tr3" colspan="2">
                        <td id="td1"><strong>부원:</strong></td>
                        <td id="left_tr3_td2">

                        {% for user in society.membership_set.all %}
                        {% if user.power != -1 %}
                            <span><img src="{{ user.profile_image.url }}" id="userphoto">{{ user.user }}</span>
                        {% endif %}
                        {% endfor %}
                        </td>
                </table>
            </div>

            <div class="soc_right">
                <div class="history">
                    <h4><strong><span class="glyphicon glyphicon-film"></span> 동아리 연혁</strong></h4>
                    <ul class="timeline" id="timeline">
                        <li class="li complete">
                            <div class="timestamp">
                                <span class="date">2016.12.26</span>
                            </div>
                            <div class="status">
                                <h5> Event 1 </h5>
                            </div>
                        </li>
                        <li class="li complete">
                            <div class="timestamp">
                                <span class="date">2016.12.30</span>
                            </div>
                            <div class="status">
                                <h5> Event 2 </h5>
                            </div>
                        </li>
                        <li class="li complete">
                            <div class="timestamp">
                                <span class="date">2017.01.01</span>
                            </div>
                            <div class="status">
                                <h5> Event 3 </h5>
                            </div>
                        </li>
                        <li class="li complete">
                            <div class="timestamp">
                                <span class="date">2017.01.31</span>
                            </div>
                            <div class="status">
                                <h5> Event 4 </h5>
                            </div>
                        </li>
                        <li class="li complete">
                            <div class="timestamp">
                                <span class="date">2017.02.16</span>
                            </div>
                            <div class="status">
                                <h5> Event 5 </h5>
                            </div>
                        </li>
                    </ul>
                </div>
                <hr/>
                <div class="soc_desc">
                    <h4><strong><span class="glyphicon glyphicon-home"></span> 동아리 소개</strong></h4>
                    <div class="soc_desc_txt">A short description about the society goes here.</div>
                </div>
            </div>

        </div>

        <div class="soc_event">
            <h4><strong>행사 일정:</strong></h4>
            <table class="table table-hover table-striped">
                <tr>
                    <td id="se_td1">Event 1</td>
                    <td id="se_td2">2017.02.10 18:00</td>
                    <td id="se_td3">내용/소개</td>
                    <td id="se_td4"><input type="button" class="btn btn-primary" value="참여하기" onclick="alert('참여신청을 하셨습니다!')"></td>
                </tr>
                <tr>
                    <td id="se_td1">Event 2</td>
                    <td id="se_td2">2017.02.13 9:00~12:00</td>
                    <td id="se_td3">내용/소개</td>
                    <td id="se_td4"><input type="button" class="btn btn-primary" value="참여하기" onclick="alert('참여신청을 하셨습니다!')"></td>
                </tr>
                <tr>
                    <td id="se_td1">Event 3</td>
                    <td id="se_td2">2017.02.16 13:00~16:00</td>
                    <td id="se_td3">내용/소개</td>
                    <td id="se_td4"><input type="button" class="btn btn-primary" value="참여하기" onclick="alert('참여신청을 하셨습니다!')"></td>
                </tr>
            </table>
        </div>

    </div>
    <script type="text/javascript">

// 즐겨찾기 추가(ajax 처리)
$('#favorite').click(function(){
    $.ajax({
        url: "{% url 'dongzip:favorite_society' society.id %}" , // 요청 url
        success: function(data){
            //update index_dashboard
            alert(data.message);
            if(data.isFavorite == true)
                $('#favorite').css('color','yellow');
            else
                $('#favorite').css('color','gray');
        }, // 요청이 성공했을 경우
        error: function(data, text_status, error){
            location.href = "{% url "accounts:login" %}";
        }, // 에러가 날 경우
        dataType: "json",
        timeout: 2500, // 응답 대기 제한 시간
    });
});
</script>

{% endblock %}
