{% extends "dongzip/layout.html" %}

{% load staticfiles %}

    {% block extra_style %}

    .page-Home{
        position: relative;
        z-index: 0;
        background-image: url("{% static 'dongzip/images/balloons.jpg' %}");
        background-repeat: no-repeat;
        padding-top: 100px;
        padding-bottom: 150px;
        box-sizing: border-box;
        color: white;
        text-shadow: 0 1px 6px rgba(51, 51, 51, 0.2);
        margin-top:20px;
        margin: .67em 0;
        font-family: sans-serif;
        text-align: center;
    }

    .page-Home h1{
        display: block;
        text-align: left;
        padding-left: 100px;
        width: 500px;
        font-size: 42px;
        font-family: sans-serif;
        font-weight: 700;
        line-height: 54px;
        -webkit-margin-before: 0.67em;
        -webkit-margin-after: 0.67em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }

    .page-Home p{
        text-align: left;
        padding-left: 100px;
        width: 500px;
        font-size: 20px;
        font-family: sans-serif;
    }

    .search{
        position: relative;
        margin-top: -30px;
        margin-left: auto;
        margin-right: auto;
        height: 55px;
        width: 700px;
        background-color: black;
        padding: 10px;
    }

    .keywordselect{
        height:35px;
        width:150px;
    }

    .locationselect, .distanceselect {
        background-color: black;
        color: white;
        font-size: 18px;
        margin-left: 20px;
        border: 1px solid black;
    }

    .locationselect{
        margin-left: 0px;
    }

    #modegroup{
        margin-left: 80px;
        background-color: gray;
        color: white;
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        border: 1px solid gray;
        box-shadow: inset 1px 1px 1px;
    }

    #modecalender{
        background-color: black;
        color: white;
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        border: 1px solid gray;
        border-left: none;
    }

    .keywords{
        margin-top: -30px;
        height: 80px;
        background-color: rgba(0,0,153,0.1);
        margin-bottom: 20px;
        text-align: center;
        line-height: 110px;
        font-size: 15px;
        word-spacing: 30px;
    }

    .keywords a{
        color: black;
    }

    .keywords a:hover {
        text-decoration: none;
    }


    .thumbnail{
        width: 295px;
        height: 230px;
        border: 0;
        -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
        font-size: 20px;
        text-align: center;
    }

    .thumbnail img{
        width: 100%;
        height: 180px!important;
    }

    .thumbnail .caption{
        margin-top: -61px;
        text-align: left;
        color: white;
        background-color: rgba(0,0,0,0.3)
    }

    #search_sch {
        width: 160px;
        font-size: 15px;
        color: white;
        background-color: black;
        border: black;
    }


    {% endblock %}


    {% block content %}
        <div class="page-Home">
                <h1><strong>{{ category_name }}</strong></h1>
                <p> 여러분 학교 주변의 {{ category_name }} 동아리를 검색해보세요! </p>
        </div>
        <div class="search">

            <form action="" method="get">

            <input type="text" name="q" placeholder= "연관 검색어" id="search_rel" class="keywordselect" value="{{ keyword }}">

            <input type="text" size="100" name="school" value= "{{ school_name }}" placeholder="학교명" class="keywordselect" id="search_sch" onfocus="if(this.value!='') this.value='';">

            <select name="distance" class='distanceselect' id='distanceselect'>
              <option value="5">5km</option>
              <option value="10">10km</option>
              <option value="15">15km</option>
              <option value="20">20km</option>
              <option value="100">100km</option>
            </select>


            <button type="button" class="btn btn-default" onClick="javascript:this.form.submit();">
              <span class="glyphicon glyphicon-search"></span> 검색
            </button>

            <!-- <input type="submit" value="검색" class="btn btn-default"> -->


            <a id="modegroup" href="#">그룹들</a>
            <a id="modecalender" href="society_listcal.html">달 력 </a>

            </form>
        </div>

        <div class="keywords">
            <strong style="word-spacing: 2px;"><span class="glyphicon glyphicon-tags"></span> [키워드 선택]</strong>
            <a href="{% url 'dongzip:society_search' 'all' %}" target="_self">전체</a>
            <a href="{% url 'dongzip:society_search' 'sports' %}" target="_self">스포츠</a>
            <a href="{% url 'dongzip:society_search' 'academics' %}" target="_self">학술</a>
            <a href="{% url 'dongzip:society_search' 'volunteer' %}" target="_self">봉사</a>
            <a href="{% url 'dongzip:society_search' 'performing_art' %}" target="_self">공연예술</a>
            <a href="{% url 'dongzip:society_search' 'language_culture' %}" target="_self">언어와문화</a>
            <a href="{% url 'dongzip:society_search' 'technology' %}" target="_self">기술</a>
            <a href="{% url 'dongzip:society_search' 'photography' %}" target="_self">창작예술</a>
            <a href="{% url 'dongzip:society_search' 'hobby' %}" target="_self">취미와교양</a>
            <a href="{% url 'dongzip:society_search' 'food_travel' %}" target="_self">음식과여행</a>
            <a href="{% url 'dongzip:society_search' 'LGBT' %}" target="_self">LGBT</a>
            <a href="{% url 'dongzip:society_search' 'social_movement' %}" target="_self">사회운동</a>
            <a href="{% url 'dongzip:society_search' 'religion' %}" target="_self">종교</a>
        </div>


        <div class="container-fluid">

          {% for society in search_society_list %}
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="thumbnail">
                <a href="{% url 'dongzip:society_detail' society.id %}" target="_blank">
                  <img src="../../static/dongzip/images/volunteer.png" alt="Volunteer">
                  <div class="caption">
                    <p><strong>{{ society.name }}</strong></p>
                  </div>
                </a>
              </div>
            </div>
          {% endfor %}

        </div>

       <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
        </script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>

        <script type="text/javascript">

        $(function search(){
                $('#search_sch').autocomplete({
                    source:'/dongzip/school_list/ajax_search/',
                    focus: function( event, ui ) { val( ui.item.label );return false;}
                });
        });

        $(function(){
        $('#search_rel').autocomplete({
            source:'/dongzip/society_search/'+'{{ name }}'+'/ajax_search/',
            focus: function( event, ui ) { val( ui.item.label ); return false;}
        });
    });
        </script>

    {% endblock %}
