{% extends 'dongzip/layout.html' %}

{% block extra_style %}
    h2{
        margin-top: 50px;
        text-align: center;
    }

    .container-regist{
        text-align: center;
    }

    .society_admin_edit{
        margin-left: 20%;
        width: 60%;
        padding: 20px;
        margin-bottom: 100px;
        border: 1px solid lightgray;
        background-color: ghostwhite;
    }

    table{
        border-collapse: separate;
        border-spacing: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    table td{
        <!-- border: 1px solid black; -->
    }

    form{
        <!-- background-color: yellow; -->
    }


    .society_admin_edit select, .society_admin_edit input, .society_admin_edit textarea{
        width: 100%;
        border-style: solid;
        border: 1px solid lightgray;
    }

    #society_admin_edit_btn{
        margin-top: 50px;
        color:#fff;background-color:#337ab7;
        border-color:#2e6da4
    }

{% endblock %}

{% block content %}

<div class="society_admin_edit well" align="center">
<h2> 동아리 정보 수정하기  </h2>

<form action="" method="post" enctype = "multipart/form-data">
{% csrf_token %}
<table class="">
{{form.as_table}}
<tr>
    <td colspan="2" style="text-align:center;">
        <input type="submit" value="수정하기" id="society_admin_edit_btn" />
    </td>
</tr>
</table>
</form>
</div>
{% endblock %}