{% extends "dongzip/society_admin_layout.html" %}


    {% block extra_style_2 %}
    .bck_1 {
        height: 430px;
    }


    {% endblock %}

{% block content_2 %}


        <div class="my_society_participation well">
            <h3>
            <span class="glyphicon glyphicon-calendar"></span>
            우리 동아리가 참여하기로 한 행사 관리
            </h3>
            <br>

            <table class="table-hover" id="society_schedule" align="center">
                <thead style="font-weight: bold">
                    <td>날짜</td>
                    <td>행사명</td>
                    <td> 주최인/주최 동아리 </td>
                    <td> 참석 승인 여부 </td>
                </thead>
                <tr>
                    <td class="td1">[2월 2일(월)]</td>
                    <td class="td2">피로그래밍 수업</td>
                    <td> 주최인/주최 동아리 </td>
                    <td> <button class="btn-danger"> 참석 취소 신청 </button></td>
                </tr>
                <tr>
                    <td class="td1">[2월 3일(화)]</td>
                    <td class="td2">피로그래밍 팀플</td>
                    <td> 주최인/주최 동아리 </td>
                    <td> <button class="btn-danger"> 참석 취소 신청 </button>
                </tr>
                <tr>
                    <td class="td1">[2월 4일(수)]</td>
                    <td class="td2">피로그래밍 수업</td>
                    <td> 주최인/주최 동아리 </td>
                    <td> <button class="btn-danger"> 참석 취소 신청 </button>
                </tr>
                <tr>
                    <td class="td1">[2월 5일(목)]</td>
                    <td class="td2">피로그래밍 워크샵</td>
                    <td> 주최인/주최 동아리 </td>
                    <td> <button class="btn-danger"> 참석 취소 신청 </button>
                </tr>
                <tr>
                    <td class="td1">[2월 16일(금)]</td>
                    <td class="td2">피로그래밍 스키</td>
                    <td> 주최인/주최 동아리 </td>
                    <td> <button class="btn-danger"> 참석 취소 신청 </button>
                </tr>
            </table>
            <br>

        </div>
{% endblock %}


