{% extends "dongzip/society_admin_layout.html" %}

{% block extra_style_2 %}
    .bck_1 {
        height: 300px;
    }
{% endblock %}

{% block content_2 %}
        <div class="my_society_managers well">
            <h3>
            <span class="glyphicon glyphicon-user"></span>
            동아리 페이지 관리자 정보
            </h3>
            <h4>동아리 스텝 목록</h4>
            <table class="table-hover" id="society_managers_table" align="center">
                <thead style="font-weight: bold; font-size: 17px;">
                    <td>지위</td>
                    <td>이름</td>
                     <td> 변경/삭제 </td>
                </thead>
                <tr>
                    <td> 동짱 </td>
                    <td>
                    <form action="{% url 'dongzip:society_admin_manager_edit' society_id %}" method='post'>
                            {% csrf_token %}
                        <select name="manager_id" id="name_mbr_p">
                        <option value="{{ manager.id }}">{{ manager }} </option>
                        {% for staff in staff_list %}
                        <option value="{{ staff.id }}">{{ staff }} </option>
                        {% endfor %}

                        </select></td>
                    <td>
                    {% if request.user.profile == manager %}
                        <button type="submit" class="btn-info"> 변경 </button>
                    {% endif %}
                    </td>
                    </form>
                </tr>
                <tr>
                    <td> 운영진 </td>
                    <td>
                    <form action="{% url 'dongzip:society_admin_manager_remove' society_id %}" method='post'>
                            {% csrf_token %}
                        <select name="staff_id" id="name_mbr_v">
                        {% for staff in staff_list %}
                        <option value="{{ staff.id }}">{{ staff }}</option>
                        {% endfor %}
                        </select></td>
                    </td>
                    <td>
                    {% if request.user.profile == manager %}
                        <button type="submit" class="btn-danger"> 삭제 </button></td>
                    {% endif %}
                    </form>

                </tr>
                <tr>
                    <td><strong>운영진 추가하기</strong></td>
                    <td>
                        <form action="{% url 'dongzip:society_admin_manager_add' society_id %}" method='post'>
                            {% csrf_token %}
                            <select name="member_id" id="add_manager">
                            {% for member in member_list %}
                                <option value="{{ member.id }}">{{ member }}</option>
                            {% endfor %}
                            </select>
                    </td>
                    <td>
                    {% if request.user.profile == manager %}
                        <button type="submit" class="btn-success"> 추가 </button></a>
                    </td>
                    {% endif %}
                    </form>

                </tr>
            </table>

        </div>
    </div>
{% endblock %}
