{% extends "dongzip/layout.html" %}


{% block extra_style %}

    .big_block{
        text-align: center;
    }

    .bck_1 {
        width: 20%;
        display: inline-block;
        float: left;
        height: 1220px;
    }

    .my_society_info_edit, .my_society_managers, .my_society_user_edit, .my_society_schedule_manage, .edit_event, .add_event, .my_society_participation {
        height: 100%;
        text-align: center;
        width: 70%;
        display: inline-block;
    }

    .vertical_nav {
        list-style-type: none;
        text-align: right;
        margin: 0px;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
    }

    .vertical_nav li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
        font-weight: bold;
    }


    .vertical_nav li a:hover {
        background-color: #555;
        color: white;
    }

    table td{
        padding: 10px;
        text-align: center;
    }

    .society_basic_info, #society_managers_table, #society_user_table, #society_schedule, #event_edit, #editing_event, #society_schedule {
        width: 500px;
    }

    .logo {
        width: 100px;
        height: 100px;
    }

    #society_user_table select{
        width: 150px;
    }

    {% block extra_style_2 %}
    {% endblock %}

{% endblock %}

{% block content %}

    <div class="big_block">
        <h3 align="center"> </h3>
        <br>
        <div class="bck_1">
            <ul class="vertical_nav bck_1">
              <li><a href="">동아리 정보</a></li>
              <li><a href="">동아리 정보 관리</a></li>
              <li><a href="">페이지 권한 관리</a></li>
              <li><a href="">동아리부원 관리</a></li>
              <!-- <li><a href="">주최행사 관리</a></li>
              <li><a href="">참여 예정행사 관리</a></li> -->
            </ul>
        </div>

    {% block content_2 %}
    {% endblock %}

    </div>


{% endblock %}

