{% extends "dongzip/society_admin_layout.html" %}

{% block extra_style_2 %}
    .bck_1 {
        height: 570px;
    }

{% endblock %}

{% block content_2 %}

<div class="my_society_info_edit well">
    <h3>
    <span class="glyphicon glyphicon-pencil"></span>
    동아리 정보
    </h3>
    <table class="society_basic_info" align="center">
        <tr><td>동아리 이름:</td> <td>{{ society.name }}</td></tr>
        <tr><td>동아리 대표 전화:</td> <td>{{ society.main_tel_number }}</td></tr>
        <tr><td>동아리 소개:</td> <td>{{ society.description }}</td></tr>
        <tr><td>동아리 이미지:</td> <td><img src="{{ society.background_image.url }}" alt="" class="logo"></td></tr>
        <tr><td>동아리 카테고리:</td>
        <td>{% for category in society.categorys.all %}
        {{ category }}
        {% endfor %}</td></tr>
        <tr><td>동아리 로고:</td> <td><img src="{{ society.logo_image.url }}" alt="" class="logo"></td></tr>
        <tr>
            <td colspan="2" style="text-align:center;">
                <br>
                <form action="{% url "dongzip:society_admin_info_edit" society.id %}">
                    <input class="btn btn-primary" id="club_submit_btn" type="submit" value="정보 수정하기"/>
                </form>
            </td>
        </tr>
    </table>
</div>

{% endblock %}

