{% extends "dongzip/society_admin_layout.html" %}

{% block extra_style_2 %}
    .bck_1 {
        height: 300px;
    }

    #society_user_table select{
        width: 150px;
    }
{% endblock %}

{% block content_2 %}

        <div class="my_society_user_edit well">
            <h3>
            <span class="glyphicon glyphicon-globe"></span>
            동아리 부원 관리하기
            </h3>

            <table id="society_user_table" align="center">
                <tr>
                    <td>부원 승인하기</td>
                    <td style="text-align: left;">
                        <br>
                        {% for applicant in applicants %}
                        <input type="checkbox" name="users" value="{{ applicant}}"> {{ applicant}} <br>

                        {% endfor %}

                    </td>
                    <td> <button class="btn-success"> 승인 </button>
                        <button class="btn-danger"> 거절 </button>
                     </td>
                </tr>
                <tr>
                    <td>부원 삭제하기</td>
                    <td style="text-align: left;">
                    <form method="post">
                    {% csrf_token %}
                    <SELECT NAME="members" SIZE="4" MULTIPLE >
                        {% for member in members %}
                        <OPTION value='{{member}}'> {{member}}
                        {% endfor %}
                        </SELECT>
                    </td>
                    <td>
                        <input type="submit" class="btn-danger" value="삭제">

                    </td>
                    </form>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="저장하기" class="btn-info"></td>
                </tr>
            </table>

        </div>
    </div>
{% endblock %}

