{% extends "dongzip/society_admin_layout.html" %}

{% block extra_style_2 %}
    .bck_1 {
        height: 570px;
    }

{% endblock %}

{% block content_2 %}

<div class="society_admin_edit well" align="center">
<h2> 동아리 정보 수정하기  </h2>

<form action="" method="post" enctype = "multipart/form-data">
    {% csrf_token %}
<table class="">
    {{form.as_table}}
<tr>
    <td colspan="2" style="text-align:center;">
        <input type="submit" value="수정하기" id="society_admin_edit_btn"/>
    </td>
</tr>
</table>
</form>
</div>

{% endblock %}

