{% extends "dongzip/layout.html" %}

    {% block extra_style %}

    .bck{
        padding: 50px;
        height: 100%;
        margin-bottom: 50px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    table{
        width: 800px;
    }

    table td{
        padding: 10px;
        text-align: center;
    }

    .my_society_managers, .my_society_info_edit, .my_society_user_edit, .my_society_schedule_manage, .my_society_participation{
        border: dashed;
        width: 800px;
        margin-bottom: 50px;
    }


    {% endblock %}

    {% block content %}

        <div class="bck">
            <div class="edit_block" align="center">
                <h2>동아리 관리자 페이지 </h2>
            <br>

                <div class="my_society_managers">
                    <h3>동아리 페이지 관리자 정보</h3>

                </div>

                <div class="my_society_info_edit">
                    <h3>동아리 정보 수정하기</h3>

                    <table align="center">
                        <tr>
                            <td>동아리 이름</td>
                            <td> <input type="text"></td>
                        </tr>
                        <tr>
                            <td>동아리 연락처</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>동아리 주소</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>동아리 소개</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>동아리 로고</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>페이지 배경사진</td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" value="저장하기" class="btn-info"></td>
                        </tr>
                    </table>
                </div>

                <div class="my_society_user_edit">
                    <h3>동아리 부원 관리하기</h3>

                    <table align="center">
                        <tr>
                            <td>부원 승인</td>
                            <td><textarea name="" id="" cols="30" rows="10"></textarea></td>
                        </tr>
                        <tr>
                            <td>부원 추가/삭제하기</td>
                            <td><textarea name="" id="" cols="30" rows="10"></textarea></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" value="저장하기" class="btn-info"></td>
                        </tr>
                    </table>

                </div>

                <div class="my_society_schedule_manage">
                    <h3>우리 동아리 주최 행사 관리하기</h3>

                    <table align="center">
                        <tr>
                            <td>행사 정보 (동아리 승인)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>행사 추가하기</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>행사 수정하기</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" value="저장하기" class="btn-info"></td>
                        </tr>
                    </table>

                </div>

                <div class="my_society_participation">
                    <h3>우리 동아리가 참여하기로 한 행사 관리</h3>

                    <table class="table-hover" id="society_schedule">
                        <tr>
                            <td class="td1">[2월 2일(월)]</td>
                            <td class="td2">피로그래밍 수업</td>
                            <td> <button class="btn-danger"> 참석 취소 신청 </button></td>
                        </tr>
                        <tr>
                            <td class="td1">[2월 3일(화)]</td>
                            <td class="td2">피로그래밍 팀플</td>
                            <td> <button class="btn-danger"> 참석 취소 신청 </button>
                        </tr>
                        <tr>
                            <td class="td1">[2월 4일(수)]</td>
                            <td class="td2">피로그래밍 수업</td>
                            <td> <button class="btn-danger"> 참석 취소 신청 </button>
                        </tr>
                        <tr>
                            <td class="td1">[2월 5일(목)]</td>
                            <td class="td2">피로그래밍 워크샵</td>
                            <td> <button class="btn-danger"> 참석 취소 신청 </button>
                        </tr>
                        <tr>
                            <td class="td1">[2월 16일(금)]</td>
                            <td class="td2">피로그래밍 스키</td>
                            <td> <button class="btn-danger"> 참석 취소 신청 </button>
                        </tr>
                    </table>


                </div>


            </div>

        </div>

    {% endblock %}