{#{% extends "accounts/layout.html" %}#}

{% load socialaccount %}
{% block content %}
    <ul>
        {% for provider in providers %}
            <li>
            {% if provider.social_app %}
                <a href="{% provider_login_url provider.id %}">
                    {{ provider.name }}
                </a>
            {% else %}
                <a>
                    {{ provider.name }} 앱이 설정되지 않았습니다.
                </a>
            {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
